body {
    background-color: black;
    color: aliceblue;
}

div#foto {
    text-align: center;
    font: normal 15pt arial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.077);
    padding: 50px;
    margin: 20px;
}

h1#title {
    text-align: center;
    font: normal 60pt arial;
}

p {
    font: normal 15pt arial;
    text-indent: 3em;
}

img#perfil {
    border-radius: 150px;
}